.header {
    background: #ffffff;
    border-bottom: 1px solid #f0f0f0;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo{
    color: #726250;
    text-decoration:none;
    font-size:24px;
    display: flex;
    justify-content: center;
    text-align: center;
}
